.modal-background {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal-container {
    width: 500px;
    height: 500px;
    border-radius: 12px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    display: flex;
    flex-direction: column;
    padding: 25px;
}

.modal-image {
    display: inline-block;
    text-align: center;
    margin-top: 10px;
}

.modal-close {
    display: flex;
    justify-content: center;
    background-color: transparent;
    border: 2px solid #6C6C6C;
    color: #6C6C6C;
    background-color: #B2E4FA;
    border-radius: 15px;
    font-size: 25px;
    font-weight: 500;
    cursor: pointer;
}

.modal-image {
    flex: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.7rem;
    text-align: center;
    border: 2px solid #6C6C6C;
    padding: 10px;
}

.modal-footer {
    flex: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    font-weight: 700;
    color: #6C6C6C;
}
