.project-submission-content-parent{
    display: flex;
    height: 95%;
    width: 100%;
}


.project-submission-content-container{
    background-color: #d7f3ff;
    align-items: center;
    display: flex;
    margin: auto;
    margin-top: 1%;
    height: 100%;
    width: 100%;
    position: relative;
    overflow: hidden;
    overflow-y: scroll;
    flex-direction: column;
    margin-bottom: 4%;
}

.project-submission-content-container::-webkit-scrollbar {
    width: 1rem;
    position: relative;
}

.project-submission-content-container::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px white;
    border-radius: 15px;
}

.project-submission-content-container::-webkit-scrollbar-thumb {
    border-radius: 15px;
    background-color: #43C0F6;
    outline: 1px solid white;
}


.project-submission-content-titles{
    display: flex;
    flex-direction: row;
    width: 90%;
    font-weight: 600;
    color: #707070;
    font-family: 'Open Sans';
    white-space: nowrap;
    align-items: flex-end;
    margin-left: -3%;
}


.project-submission-white-space{
    width: 55%
}

.project-submission-content-display{
    height: 35em;
    width: 100%;
}

.test-space{
    width: 4em;
}

.project-submission-header{
    font-size: 24px;
}

.project-complete-btn, .project-download-btn{
    cursor: pointer;
    font-size: 18px;
}

.ps-img-btn{
    float: left;
    margin-top: 5px;
}