@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@800&display=swap');


#ProjectsNav {
    display: flex;
    justify-content: space-between;
    width: 50%;
    margin: 0 auto;
    font-family: nunito;
    color: #6C6C6C;
  }
  #levelButton{
    margin-top: 50px;
  }
  #viewButton{
    
  }
  button {
    font-weight: bold;
    color: rgb(26, 26, 26);
    background-color: rgb(240, 239, 239);
    border-style: solid;
    border-radius: 3px;
    border-width: 1px;
    border-color: #6C6C6C;
  }