@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@800&display=swap');


#ProjectsNav {
    display: flex;
    justify-content: space-between;
    width:50%;
    margin: 0 auto;
    font-family: nunito;
    color: #6C6C6C;
  }

  #levelButton{
    margin-top: 50px;
  }

  #viewButton{
    margin-top: 50px;
    width: 0;
  }



.radio-button input {
  display: none;
}

.radio-button span {
  padding: 0.1em 0.6em;
  background-color: rgba(247,240,240,255);
  border-style: solid;
  border-radius: 3px;
  border-width: 1px;
  border-color: rgba(198,192,192,255);
  text-align: center;
}

.radio-button input[name="level"]:checked + span {
  background: linear-gradient(0deg, rgba(15,125,245,255),rgba(95,167,240,255));
  color: white;
}

.radio-button2 input {
  display: none;
}

.radio-button2 span {
  padding: 0px 20px;
  background-color: rgba(247,240,240,255);
  border: 2px outset rgb(118, 118, 118);
  border-style: solid;
  border-radius: 3px;
  border-width: 1px;
  border-color: rgba(198,192,192,255);
  text-align: center;
}

.radio-button2 input[name="show"]:checked + span {
  background: linear-gradient(0deg, rgba(15,125,245,255),rgba(95,167,240,255));
  color: white;
}

@media only screen and (max-width: 768px) {
  #ProjectsNav {
    display: flex;
    flex-direction: column;
    margin-left: 200px;
  }
  #viewButton{
    margin-left: 50px;
    margin-bottom: 100px;
  }
}