.projectSideBar {
    margin-left: 100px;
    font-family: nunito;
    color: #6C6C6C;
    float: left;
}

h5 {
    font-family: Open Sans, Regular;
    border-bottom: 2px solid #6C6C6C;
    width:150px;
}
