#auth-modal-bg {
  display: flex;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(3px);
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 1;
}

#am-form-wrapper {
  padding: 1rem;
  background-color: white;
}

#am-forms-container {
  display: flex;
  position: relative;
  background-color: white;
  color: #707070;
  max-height: 90%;
  overflow-y: auto;
  overflow-x: hidden;
}

#am-forms-container::-webkit-scrollbar {
  width: 14px;
  border-radius: 1rem;
  background-color: rgb(244, 243, 243);
}

#am-forms-container::-webkit-scrollbar-track:vertical {
  border: 20px solid rgba(0, 0, 0, 0);
  background-clip: padding-box;
}

#am-forms-container::-webkit-scrollbar-thumb {
  border-radius: 1rem;
  background-color: #F91D85;
  border: 2px solid rgba(0, 0, 0, 0);
  background-clip: padding-box;
}

#am-forms-container::-webkit-scrollbar-thumb:hover {
  background-color: #C7196B;
}

#am-modal-esc {
  font-size: 3rem;
  position: absolute;
  top: 0.5rem;
  right: 0.8rem;
  cursor: pointer;
}

#am-modal-esc:hover {
  color: #848484;
}

.am-form-container {
  padding: 3rem;
}

#auth-modal-bg img {
  display: block;
  width: fit-content;
  max-width: 20vw;
  margin: auto;
}

#auth-modal-bg h2 {
  font-family: Nunito;
  font-weight: 900;
  font-size: 2em;
  text-align: center;
}

.am-auth-options {
  display: flex;
  justify-content: space-evenly;
  color: #A5A5A5;
}

.am-auth-options .active {
  color: #707070;
  border-bottom: 3px solid #43C0F6;
}

#auth-form-signup-btn.active {
  border-color: #F91C85;
}

.am-auth-options .inactive {
  cursor: pointer;
}

.am-auth-form {
  display: flex;
  flex-direction: column;
}

.am-auth-form input {
  margin: 0.75rem 0;
  padding: 0.3rem;
  border: 1px solid #A5A5A5;
  border-radius: 0.5rem;
}

.am-auth-form input[type="submit"] {
  margin: 2rem;
  padding: 0.5rem;
  background-color: #F91C85;
  border-color: #F91C85;
  color: white;
  box-shadow: 5px 5px 15px -5px #b5b5b5;
  cursor: pointer;
  text-transform: uppercase;
  font-family: Nunito;
  font-weight: 900;
}

@media only screen and (max-width: 768px) {
  #am-forms-container {
    flex-direction: column;
    width: 90%;
    min-height: 95%;
  }
  
  .am-form-container {
    padding: 0;
  }
}