.project-submission-container{
    width: auto;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.project-submission-content{
    display: flex;
    flex-direction: row;
    flex: 1;
}

.project-submission-left{
    background-color: #43C0F6;
    max-width: 15vw;
    min-width: 7.5vw;
}

.project-submission-right{
    background-color: #B2E4FA;
    flex: 1;
}