
.new-sidebar-container{
    display: flex;
    height: 100%;
    flex-direction: column;
    gap: 1rem;
    }

    .new-sidebar-profile-pic{
    text-align: center;
    padding-top: 10%;

} 


.sideBarIcon,
.sideBar {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.sidebarSwitch{
    
}

.sideBarText{
    align-self: center;
    
}
.sidebarBottom{
    text-align: center;
    display: flex;
    
}

.sidebarIcons{
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 1rem;
    float: left;
    padding: 10px 30px;
    font-size: 14px;
    color: white;
    font-weight: 600;
    
}

.sidebarIcons:hover{
    background-color: #B2E4FA;
    color: #707070;
    font-weight: 600;
}

.sideNavBarMenu{
    display: flex;
    position: relative;
}

.openedSideBar{
    border: 1px solid blue;

}

.closedSideBar{
    border: 1px solid green;
}