.sideBarContainer{
    width: 260px;
    height: 873px;
}

.sideBar {
    left: 0;
    display: flex;
    width: 100%;
    height: 100%;
    background-color: #43C0F6;
    color: #ffff;

}
.sideBarIcon{
    position: fixed;
    left: 0;
    display: flex;
    width: 7%;
    height: 100%;
    background-color: #26262c;
    color: #ffff;
}

.sidebarIcons{
    height: 50px;
    width: 80%;
    margin-right: 16px;
    cursor: pointer;
    user-select: none;
    display: flex;
    align-items: flex-start;
    float: left;
    gap: 20px;
    padding-left: 10%;
    padding-right: 10%;
        padding-top: 8%;
    top: 0px;
    position: relative;
}
.sidebarIconsA{
    height: 50px;
    width: 80%;
    margin-right: 16px;
    cursor: pointer;
    user-select: none;
    display: flex;
    align-items: flex-start;
    float: left;
    gap: 20px;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 8%;
    top: 0px;
    position: relative;
    background-color: #B2E4FA;
}



.sidebarProfile{
    top: 10%;
    padding-left: 4.5%;
    height: 20%;
    position: absolute;
}

.sidebarBottomIcons{
    width: 25%;
    text-align: center;
    float: left;
    position: relative;
    top: 270px;
    left: 20px;
}

.sideBarText{
    font-size: 14px;
    font-weight: 590;
    font-family: 'Open Sans';
}
.sideBottomText{
    font-size: 10px;
    font-weight: 590;
    font-family: 'Open Sans';
}
.sideBarTextA{
        font-size: 14px;
            font-weight: 590;
            font-family: 'Open Sans';
    color: #26262c;
}





.sideBar ul{
    padding: 0 0 260px 0;
}

.openedSideBar{
    position: relative;
    left: 205px;
    padding: 10px 20px 10px 20px;
    background-color: #B2E4FA;
    border-radius: 10px 0 0 10px;

}

.sidebarIcons:hover{
    background-color: #B2E4FA;
}
.sidebarBottomIcons:hover{
    background-color: #B2E4FA;
    cursor: pointer;
}