.pb-aw-img-container {
  display: flex;
  justify-content: center;
}

.pb-aw-instr-img {
  width: fit-content;
}

.pb-center-paragraph {
  text-align: center;
}

.pb-aw-instr-p-with-link a:visited {
  color: #F5308F;
}