#pb-learning-objectives-container {
  display: flex;
  flex-direction: column;
  max-height: 100%;
  color: #707070;
  max-height: 100%;
}

#pb-learning-objectives-container h1 {
  margin-top: 0;
  font-family: Nunito;
  font-weight: 900;
  text-align: center;
}

#pb-learning-objectives-container h2 {
  font-family: Nunito;
  text-align: center;
}

#lo-img-wrapper {
  display: flex;
  justify-content: center;
}

#lo-img-wrapper img {
  width: fit-content;
  max-width: 60%;
}