@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@800&display=swap');

.studentBars {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.Heading-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 90%;
    font-family: nunito;
    color: #6C6C6C;
    margin-left: 60px;
    align-items: baseline;
  }

  .card {
    display: flex;
    flex-direction: row;
    background-color: #fff;
    color: #333;
    max-width: 2000px;
    min-width: none;
    border-radius: 15px;
    padding: 10px 50px;
    margin: 30px 100px 10px 70px;
    position: relative;
  }

.barContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 10px;
}

.studentData {
  text-align: center;
  margin: 0px 10px 0px 10px;
}

.studentData p {
  margin-top: -40px;
  font-size: medium;
}

.barContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-family: nunito;
  color: #6C6C6C;
}

  .progress {
    display: flex;
    list-style-type: none;
  }


.progressCircles{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35px;
  height: 35px;
  padding: 0px 0px 0px 0px;
  margin-left: 30px;
  margin-top: 20px;
  font-size: large;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  border-style: solid;
  border-radius: 50%;
  border-width: 1px;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.progressCircles h2 {
  font-size: medium;
}


