@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@800&display=swap');


.studentCardContainter {
    display: flex;
    flex-wrap: wrap;
    margin: 50px 100px 50px 100px;
    
}

.StudentCards {
    display: flex;
    flex-direction: row;
    border-style: solid;
    border-color: white;
    background-color: white;

    
}
.profiles {
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.profiles figcaption {
    text-align: center;
    font-family: nunito;
    margin: 20px 0px 0px 0px;
    color: #6C6C6C;
    font-size: 13px;
}

.studentCards img {
    height: 100px;
    width: 100px;
    margin-top: 20px;
}

.profiles {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    background-color: white;
    border-color: white;
    border-style: solid;
    border-radius: 10px;
    width: 200px;
    height: 200px;
    margin: 20px 45px 30px 30px;
}